
// color
$mainBlue: #C0D6DF;
$mainDarkBlue: #166088;
$subDarkGray: #545859;
$sublightGray: #EFEFEF;

// font
$bodyFont: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;;
